<nav class="navp">
	<ul>
		<li><a href="http://localhost:8081/"><%= __('acc') %></a></li>
		<li><a href="http://localhost:8081/membres/"><%= __('membre') %></a></li>
		<li><a href="http://localhost:8081/profil/"><%= __('cherche') %></a></li>
		<li><a href="http://localhost:8081/clavardage/"><%= __('clavardage') %></a></li>
	</ul>
</nav>